<div class="page-ath-wrap">
    <div class="page-ath-content">
        <div class="page-ath-header">
            <a href="./" class="page-ath-logo"><img src="images/logo.png" srcset="images/logo2x.png 2x" alt="logo"></a>
        </div>
        <div class="page-ath-form">
            <h2 class="page-ath-heading">Sign up <small>Create New International Squid Games Account</small></h2>
            <div>
                <div class="input-item">
                    <input type="text" placeholder="Your Name" id="username" class="input-bordered">
                </div>
                <div class="input-item">
                    <input type="text" placeholder="Your Email" id="mail" class="input-bordered">
                </div>
                <div class="input-item">
                    <input type="text" placeholder="Your Phone Number" id="phone" class="input-bordered">
                </div>
                <div class="input-item">
                    <input type="password" placeholder="Password" id="password" class="input-bordered">
                </div>
                <div class="input-item">
                    <input type="password" placeholder="Repeat Password" id="password2" class="input-bordered">
                </div>
                <div class="input-item text-left">
                    <input class="input-checkbox input-checkbox-md" id="term-condition" type="checkbox">
                    <label for="term-condition">I agree to International Squid Games’s <a href="/privacy-policy">Privacy
                            Policy</a> &amp; <a href="/terms"> Terms.</a></label>
                </div>
                <button class="btn btn-primary btn-block" onclick="register()">Create Account</button>
            </div>

            <div class="gaps-2x"></div>
            <div class="gaps-2x"></div>
            <div class="form-note">
                Already have an account ? <a href="/sign-in"> <strong>Sign in instead</strong></a>
            </div>
        </div>
        <div class="page-ath-footer">
            <ul class="footer-links">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li>&copy; 2018 International Squid Games.</li>
            </ul>
        </div>
    </div>
    <div class="page-ath-gfx">
        <div class="w-100 d-flex justify-content-center">
            <div class="col-md-8 col-xl-5">
                <img src="images/ath-gfx.png" alt="image">
            </div>
        </div>
    </div>
</div>
<script>
    async function register() {
        let isAgree = document.getElementById('term-condition').checked
        console.log("Agree?", isAgree);
        if (!isAgree) {
            alert(" Please read our Term Of Use & Privacy Policy !")
            return
        }
        let username = document.getElementById("username").value
        let email = document.getElementById("mail").value
        let phone = document.getElementById("phone").value
        let password = document.getElementById("password").value
        let password2 = document.getElementById("password2").value
        console.log("INPUT:", isAgree, username,
            email,
            phone,
            password,
            password2);
        let response = await $.ajax({
            method: "POST",
            url: "/api/register",
            data: {
                username,
                email,
                phone,
                password,
                password2
            }
        })
        // console.log(response);
        alert(response.message)
        if (!response.isError) {
            window.location.href = "/sign-in"
        }
    }
</script>