<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squid Token | Squid - Play and Win</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="container-fluid">
    <!-- HEADER -->
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../public/images/landing-brand.webp" alt="" height="auto">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" id="navbar-header"
                        style="--bs-scroll-height: 100px; margin-left: auto;margin-right: 70px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Squid Token</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#the-game">The Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="https://eac01ebb-76ec-4c76-b40a-e0b9d0003af3.filesusr.com/ugd/df36e2_644065cc01bd48a1afdcf6c76c6dbe4c.pdf">Whitepaper</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#road-map">Roadmap</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-primary btn-telegram" style="background-color: #33cfff;"> Join
                                Telegram </button>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <!-- BANNER -->
        <div class="row">
            <div class="col-md-6 col-sm-12 p-center">
                <div class="row ">
                    <div class="col" id="banner-text">
                        <h1 class="mb-3">Squid Game Token...</h1>
                        <h2 class="mb-5">
                            are you ready?
                        </h2>
                        <p class="mb-5">
                            Contract Address : 0x6971b6a0a184d4e2a64416674a9724122dd5bd05
                        </p>
                        <div class="row">
                            <div class="col-6  mb-3">
                                <a target="_blank"
                                    href="https://eac01ebb-76ec-4c76-b40a-e0b9d0003af3.filesusr.com/ugd/df36e2_644065cc01bd48a1afdcf6c76c6dbe4c.pdf">
                                    <button class="btn btn-primary" style="background-color: #33cfff;">
                                        Whitepaper
                                    </button>
                                </a>

                            </div>
                            <div class="col-6  ">
                                <a target="_blank" href="http://45.77.175.203/sign-in">
                                    <button class="btn btn-warning"
                                        style="background-color: #ed147c;border-color: #ed147c;color: white;">
                                        Buy Now
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-12 p-center" id="banner-image-wrapper">
                <img src="../../public/images/xxx.webp"  alt="" id="banner-image">
            </div>
        </div>
        <!-- INTRO -->
        <div class="row" id="the-game">
            <div class="col-sm-12 " style="text-align: center;">
                <img src="../../public/images/Let-the-game-begin-01.webp" class="w-100" alt="">
                <iframe title="intro" style="width: 100%;height: 400px;"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&loop=1">
                </iframe>
            </div>
        </div>
        <!-- PRIZE -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1 style="color: white;" class="mb-3">The Big Prize</h1>
                <a href="#!">
                    <img src="../../public/images/big-prize.webp" style="height: 90vh;border:5px solid #ed147c" alt="">
                </a>
                <h2 style="color: #33cfff;margin: 20px;">
                    LET THE GAMES BEGIN. WIN 100 BNBS BY ONLY PARTICIPATING WITH 1 BNB. THE FIRST GAME IS ABOUT TO
                    HAPPEN
                </h2>
                <a href="https://pancakeswap.finance/swap?outputCurrency=0xb5EB211FC1306f144Cc7cde826681723355F0643"
                    target="_blank" rel="noopener noreferrer">
                    <button class="btn btn-success" style="background-color:#ed147c;border:#ed147c">Join Here</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- TEAM -->
        <div class="row mt-5 " id="team">
            <div class="col-12 text-center">
                <h1 style="color:white">TEAM</h1>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-6 text-center">
                <img src="../../public/images/Front-Man.webp" class="w-100" alt="">
                <p style="color:white;font-size: 1.5rem"> Vinh Meo Mew</p>
            </div>
        </div>
        <!-- ROAD MAP -->
        <div class="row mt-5" style="padding: 0px 10px;" id="road-map">
            <div class="col-12 mb-3">
                <h1 style="color:white;text-align:center">ROADMAP</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row d-flex road-map">
                    <div class="col-12 p-center mb-2">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>COMMUNITY GROWTH</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>MARKETING PUSH</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>LAUNCH</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>LIQUIDITY (UNICRYPT)</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row d-flex road-map">
                    <div class="col-12 p-center mb-2">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>1000 TG MEMBERS</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>GAME DEVELOPMENT V1</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>100 HOLDERS</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>GIVEAWAY CAMPAIGN</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row d-flex road-map">
                    <div class="col-12 p-center mb-2">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>5000 TG MEMBERS</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>GAME DEVELOPMENT V2</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>1000 HOLDERS</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>GIVEAWAY CAMPAIGN</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row d-flex road-map">
                    <div class="col-12 p-center mb-2 ">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>2500 HOLDERS</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>COINMARKETCAP LISTING</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>COINGECKO LISTING</h5>
                    </div>
                    <div class="col-12 p-center">
                        <img src="../../public/images/Bullet-point-02.webp" style="width: 50px;margin-right: 10px;"
                            alt="" srcset="">
                        <h5>CRETIK AUDIT</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOKENOMY -->
        <div class="row mt-5">
            <div class="col-12">
                <h1 style="color:white;text-align:center"> Tokenomics</h1>
            </div>
            <div class="col-12 text-center mb-3">
                <p style="color:white;font-size:1.2rem;margin:3px">Token Name: Squid Game</p>
                <p style="color:white;font-size:1.2rem;margin:3px">Total Supply: 10.000.000.000.000</p>
                <p style="color:white;font-size:1.2rem;margin:3px">Token Symbol : SQG</p>
            </div>
            <div class="col-2"></div>
            <div class="col-2 text-center" class="w-100">
                <img src="../../public/images/buy-back.webp" class="w-sm-100" alt="">
                <h3 style="color:white">3%</h3>
                <h3 style="color:white">Buy Back</h3>
            </div>
            <div class="col-2 text-center">
                <img src="../../public/images/game.webp" class="w-sm-100" alt="">
                <h3 style="color:white">2%</h3>
                <h3 style="color:white">Games</h3>
            </div>
            <div class="col-2 text-center">
                <img src="../../public/images/liquid.webp" class="w-sm-100" alt="">
                <h3 style="color:white">3%</h3>
                <h3 style="color:white">Liquidity</h3>
            </div>
            <div class="col-2 text-center">
                <img src="../../public/images/burn.webp" class="w-sm-100" alt="">
                <h3 style="color:white">2%</h3>
                <h3 style="color:white">Burn</h3>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="row mt-5 text-light text-center pd-2" style="background-color:#350f25 ;">
        <div class="col-12">

            The information provided on this website does not constitute investment advice, financial advice, trading
            advice, or any other sort of advice and you should not treat any of the website's content as such. Squid
            Game Token does not recommend that any cryptocurrency should be bought, sold, or held by you. Do conduct
            your own due diligence and consult your financial advisor before making any investment decision

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <style>
        body {
            background: url('../../public/images/landing-bgr.webp');
            background-size: cover;

        }

        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        .nav-item .active {
            color: #ed147c !important;
            font-weight: bold;
        }

        .nav-item .nav-link {
            font-size: larger;
        }

        .nav-item .nav-link:hover {
            color: #ed147c !important;
        }

        .p-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #banner-text {
            color: white !important;
            padding: 50px;
        }

        #banner-image {
            height: 90vh;
        }

        .road-map .p-center {
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 5px;
        }

        button {
            padding: 10px 50px !important;
            border-radius: 20px !important;
            font-size: 1.1rem !important;
        }

        @media only screen and (max-width: 1300px) {

            .btn-telegram {
                padding: 10px 10px !important;
            }
        }

        @media only screen and (max-width: 500px) {
            /* img {
                width: 100% !important;
            } */
        }

        @media only screen and (max-width: 992px) {

            button {
                padding: 10px 40px !important;
                border-radius: 20px !important;
                font-size: 1.1rem !important;
            }
        }
    </style>
</body>

</html>